@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.about-section1-container {
  background-image: url("../../assets/about-section1-bg.png");
  height: 1000px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section1-content {
  width: 80%;
  height: auto;
  margin: 100px;
}

.vertical-line {
  width: 5px;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.vertical-line h1 {
  color: #fff;
  width: 300px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin: 0;
  position: absolute;
  left: 50px;
}

.about-section1-content p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  width: 60%;
  margin-bottom: 20px;
}

.learn-more-button {
  display: inline-flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Black---White-Gray20, #f5f5f5);
  color: var(--Black---White-Gray100, #1f1f1f);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.about-section2-container {
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section2-content {
  width: 90%;
  height: auto;
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-section2-img {
  height: 100%;
  display: flex;
}

.about-section2-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.about-section2-text h1 {
  color: var(--Black---White-Gray100, #1f1f1f);
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-section2-title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section2-title img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.about-section2-title h2 {
  color: var(--Black---White-Gray100, #1f1f1f);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 10px;
}

.about-section2-text p {
  color: #666c89;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 50px;
}

.about-section3-container {
  background-image: url("../../assets/about-section3-bg.jpg");
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section3-content {
  width: 80%;
  height: auto;
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section3-title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section3-title img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.about-section3-title h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 10px;
}

.about-section3-first-column {
  width: 40%;
  margin-right: 150px;
}

.about-section3-first-column h1 {
  color: #fff;
  width: 100%;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.hunt-now-button {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  display: flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  color: var(--Black---White-Gray10, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.about-section3-other-column {
  width: 30%;
  display: flex;
  padding: 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-right: 30px;
}

.about-section3-other-column h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.46);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
}

.about-section4-container {
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section4-content {
  width: 80%;
  height: auto;
  margin: 100px;
  display: flex;
  flex-direction: row;
}

.about-section4-first-column {
  width: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.about-section4-first-column img {
  height: 100%;
  display: flex;
}

.about-section4-title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section4-second-column {
  width: 100%;
}

.about-section4-second-column h1 {
  color: var(--Black---White-Gray100, #1f1f1f);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.about-section4-title img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.about-section4-title h2 {
  color: var(--Black---White-Gray100, #1f1f1f);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 10px;
}

.faq-container {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}

.faq-item {
  display: flex;
  align-items: center;
}

.short-vertical-line {
  width: 4px;
  height: 32px;
  background: var(--Black---White-Gray40, #e0e0e0);
  border-radius: 0px 4px 4px 0px;
  margin-right: 10px;
}

.faq-item p {
  margin-right: auto;
}

.faq-item-plus {
  width: 25px;
  height: 25px;
  margin-left: auto;
}
