@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.login-container {
  background-image: url("../../assets/loginBackground.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  text-align: center;
  width: auto;
  aspect-ratio: 1;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}

.login-content p {
  color: #525252;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.login-input {
  display: block;
  width: 400px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  flex-shrink: 0;
}

.login-button {
  width: 32%;
  height: auto;
  border-radius: 50px;
  background: linear-gradient(0deg, #651fff 0%, #651fff 100%);
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
  color: rgba(255, 255, 255, 0.9);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 550;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
}

.create-account-link {
  color: #651fff;
  text-decoration: underline;
  font-weight: 700;
}
