@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.register-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.register-content {
    width: 45%;
    padding: 20px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    overflow-y: auto;
}

.register-bg {
    width: 50%;
    height: 100vh;
    background-image: url('../../assets/backgroundRegister.png');
    background-size: cover;
    background-position: center;
}

.register-content .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.register-content h1 {
    color: #42505C;
    font-size: 33px;
    margin-right: 20px;
    font-family: Montserrat;
    font-weight: bold;
}

.register-content .header-p {
    font-size: 9px;
    margin-left: 120px;
}

.register-content .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.register-content .form-row label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.required-tooltip {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #D1D1D1;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.required-tooltip::after {
  content: "This field is required.";
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.required-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.required-tooltip.active::after {
  visibility: visible;
  opacity: 1;
}

.register-content .form-row .input-container {
  width: 48%;
}

.register-content label {
  display: block;
  margin-bottom: 5px;
}

.register-content input[type="text"],
.register-content input[type="email"],
.register-content input[type="tel"],
.register-content input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.register-content .price-range-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.register-content .price-option {
  flex-basis: 24%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center;
}

.register-content .price-option.selected {
  background-color: #4743E0;
  color: #fff;
}

.register-content .price-option p {
  margin: 0;
}

.register-content .price-option:hover {
  background-color: #f0f0f0;
}

.register-content .button-container {
  display: flex;
  justify-content: flex-end;
}

.register-content .register-button {
    width: 25%;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(0deg, #651fff 0%, #651fff 100%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.register-content .register-button:hover {
  background-color: #2C1169;
}
