.hero{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-text{
    width: 60%;
    color: #F8F8F8;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title-text h1{
    font-size: 4rem;
    text-align: center;
}

.title-text p{
    font-size: 1rem;
    text-align: center;
}
