body {
    background-color: #f4f4f4;
  }
  
  .profile {
    min-height: 100vh;
    padding: 16px;
    background-color: #ffffff;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .profile-container {
      flex-direction: row;
    }
  }
  
  .sidebar {
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-weight: bold;
    color: #311B92;
    cursor: pointer;
  }
  
  .menu-item span {
    margin-right: 8px;
  }
  
  .menu-item.active {
    color: #d946ef;
  }
  
  .content {
    flex: 1;
    /* background-color: #ffffff; */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 24px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
  
  .change-picture {
    color: #2563eb;
    margin-top: 8px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .profile-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 16px;
  }
  
  .profile-info {
    margin-top: 24px;
  }
  
  .info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .info-label {
    font-weight: 500;
  }
  
  .info-value {
    flex: 1;
    text-align: right;
    margin-right: 16px;
  }
  
  .edit-icon {
    color: #9ca3af;
    cursor: pointer;
  }
  